@import '../basics/font';
@import '../setup/mixins';

.home-header {
  @include flex(column, center);

  // background-position: top;
  // background-image: url("../assets/02-full.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: 90vh;
  background-color: rgba(216, 208, 239, 1);
  // background: @include filter-gradient(#d8d0ef, #c1bfea, vertical);
  // background: @include background-image(linear-gradient(top, rgba(216,208,239,1) 0%, rgba(216,208,239,1) 1%, rgba(193,191,234,1) 81%, rgba(235,233,249,1) 100%));
  height: calc(100vh - 110px);
  background-image: linear-gradient(
      top,
      #209cee00 0%,
      rgba(41, 39, 68, 0.301) 25%,
      hsla(243, 51%, 83%, 0) 81%,
      rgba(75, 37, 97, 0.192) 90%,
      #209cee4f 95%,
      #209cee4f 100%
    ),
    url('../../assets/swing.jpg');
  // background-color: black;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  h1,
  h3 {
    text-align: center;
    padding-top: 100px;
    font-size: 45px;
    color: white;
    font-family: ‘Roboto’, sans-serif;
    text-shadow: 1px 1px 10px black;
  }

  h1 {
    font-size: 4.1em;
  }
  h3 {
    font-size: 2.8em;
    // margin-bottom: 55px;
    padding-top: 0px;
  }
}

div.cities {
  h2 {
    margin-top: 380px;
  }
}

.search-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 1;
  margin-top: 45px;
}
.search-bar > * {
  justify-items: center;
}

.location {
  display: flex;
  justify-content: center;
  // font-family: $primary-font-family;
}
