@import "../setup/variables";

.home-header {
    // background-position: top;
    // background-image: url("../assets/02-full.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 90vh;
    background-color: rgba(216,208,239,1);
    // background: @include filter-gradient(#d8d0ef, #c1bfea, vertical);
    // background: @include background-image(linear-gradient(top, rgba(216,208,239,1) 0%, rgba(216,208,239,1) 1%, rgba(193,191,234,1) 81%, rgba(235,233,249,1) 100%));
    height: calc(100vh - 110px);
    background-image: linear-gradient(top, #209cee00 0%, rgba(41, 39, 68, 0.301) 25%, hsla(243, 51%, 83%, 0) 81%, rgba(75, 37, 97, 0.192) 90%, #209cee4f 95%, #209cee4f 100%),
      url("../../assets/swing.jpg");
    // background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.welcome {
  font-family: $primary-font-family;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: 280px;
    // padding-top: 40px;
    color: white;
    h1 {
      align-self: center;
    }
}

.location {
  display: flex;
  justify-content: center;
  font-family: $primary-font-family;
}