@import '../setup/mixins';
@import '../setup/variables';
@import '../basics/font';

.user-details {
  // padding-top: 150px;
  @include flex(row, center);

  // border-right: 1px solid $box-shadow-gray;
  // border-left: 1px solid $box-shadow-gray;
  // min-height: calc(100vh - 70px);

  button {
    width: 100px;
    height: 50px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: $clr5;
    margin: 0 auto;
  }

  .top-fold {
    border: 1px solid $box-shadow-gray;
    //   border-bottom: 1px solid $box-shadow-gray;
    padding: 0 30px 0 30px;
    @include flex(column);
    @include button();

    .user-img {
      @include userImg(130px, 130px);
      box-shadow: 0 0 1px 1px #333;
      background-repeat: no-repeat;
      border: 3px solid #fff;
      margin: 20px;
      object-fit: cover;
    }
    .user-details-content {
      @include flex(column, flex-start);
      .user-info {
        text-align: center;
        @include flex(column);
        h1 {
          font-weight: bold;
          font-family: $font-open-sans;
          font-size: 1.4em;
          margin-bottom: 5px;
        }
        div {
          font-size: 1em;
          margin-bottom: 5px;
          font-family: $font-open-sans;
        }
      }
    }
  }
  .detailsMain {
    @include button();
    background-color: #c7c5c5;
    border: 1px solid $box-shadow-gray;
    padding: 0 30px 10px 30px;
    @include flex(column);
    // background-color: #dcdada;
    p {
      font-size: 14px;
      // font-weight: bold;
      font-family: $font-open-sans;
      color: black;
      // margin: 50px 10px;
    }
    h2 {
      color: black;
    }

    .review-add {
      @include flex(column, center);
      align-items: baseline;
      // background-color: aqua;
      border: 1px solid $box-shadow-gray;
      text-align: center;
      margin: 8px;
      padding: 18px;

      h2 {
        color: black !important;
      }
// not working

      input {
        // width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
// not working

      .button {
        background-color: aqua;
      }
    }
// not working
    .form-content-container{
            @include flex(row, center);
                    background-color: aqua;


    }
  }

  // @media (min-width: 550px) {
  //     @include wrapper(500px);
  //     .top-fold {
  //         @include flex(row, center, center);
  //     }
  // }
}

// .mainContainer{
//     @include wrapper(400px);
//     // border-right: 1px solid $box-shadow-gray;
//     // border-left: 1px solid $box-shadow-gray;
//     min-height: calc(100vh - 70px);

//     display: flex;
//     justify-content: space-evenly;
//     padding-top: 155px;

// }

// .flex {
//     display: flex;
//   }

//   .mainContainer {
//     display: flex;
//     justify-content: space-evenly;
//     padding-top: 155px;

//     //  @include wrapper(400px);
//     //     border-right: 1px solid $box-shadow-gray;
//     //     border-left: 1px solid $box-shadow-gray;
//     //     min-height: calc(100vh - 70px);
//   }

//   .detailsList {
//     // flex-direction: column;

//     //     border: 1px solid #2a6171;
//     //         border-radius: 7px;
//     //   box-shadow: 3px 3px 12px -1px #afa7a7;

//     flex-direction: column;
//     align-items: center;
//     text-align: center;

//     border: 1px solid #2a6171;
//     border-radius: 7px;
//     box-shadow: 3px 3px 12px -1px #afa7a7;
//     object-fit: contain;
//     cursor: pointer;
//     min-height: 270px;
//     background-color: rgb(100, 173, 81);
//     border-radius: 4px;
//     flex-basis: 200px;
//     flex-grow: 1;
//     margin: 17px 7px;
//     max-width: 400px;
//     max-height: 600px;
//     box-shadow: 0 0 2px #969696;
//     /* position: relative; */
//     margin-bottom: 200px;
//   }
//   button {
//     cursor: pointer;
//     font-size: 1rem;
//     line-height: 1rem;
//     margin: 0;
//     padding: 0 2rem;
//     border-radius: 2.5rem;
//     border: none;
//     background: rgb(34, 219, 9);
//         // background:$clr5;

//     color: #fff;
//     font-weight: 600;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     -webkit-transition: background 0.14s ease;
//     transition: background 0.14s ease;
//     height: 3rem;
//     min-height: 3rem;
//     overflow: hidden;
//   }

// .detailsMain {
//   //  flex-direction: column;

//   //   border: 1px solid #2a6171;
//   //       border-radius: 7px;
//   // box-shadow: 3px 3px 12px -1px #afa7a7;

//   flex-direction: column;

//   border: 1px solid #2a6171;
//   border-radius: 7px;
//   box-shadow: 3px 3px 12px -1px #afa7a7;
//   /* width: 23%; */
//   object-fit: contain;
//   cursor: pointer;
//   min-height: 270px;
//   // background-color: rgb(100, 173, 81);
//   border-radius: 4px;
//   flex-basis: 200px;
//   flex-grow: 1;
//   margin: 17px 7px;
//   max-width: 400px;
//   max-height: 600px;
//   box-shadow: 0 0 2px #969696;
//   /* position: relative; */
//   margin-bottom: 200px;
// }
