$box-shadow-gray: #e5e5e5;

// colors
$clr1: #8bc34a; // buttons
$clr2: #4f8314; // map color
$clr3: #888;  // title gray
$clr4: #d04343; // red heart

$clr5: #209cee;


// Colors from asi


// $clr1: #cf649a;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
@import "./../basics/base";


$primaryClr: #25042c;
$secondaryClr: white;
