.city-list {
    max-width: 1000px;
    min-height: 790px;
    padding: 34px 0;
    margin: 0 auto;
    /* background-color: gray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset;
    align-content: baseline;
  }