h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
  
.SearchBlock {
    background: #fff;
    width: 100%;
    padding: 1rem 0 0;
}

p {
    color: white;
  
}

.subheader {
    margin-bottom: 50px;
}

.SearchBlockTop {
    // display: -webkit-box;
    // display: -ms-flexbox;

    display: flex;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    justify-content: space-between;
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    flex-direction: column;
}
  
.SearchInputContainer {
    // -webkit-box-flex: 1;
    // -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 1rem;
    align-items: center;
    z-index: 1;
    margin-bottom: 1.5rem;
}

.SearchInput {
    border: 1px solid #209cee;
    border-radius: 0.2rem;
    height: 2rem;
    line-height: 3rem;
    font-weight: 500;
    padding: 0 1rem 0 0.2rem;
    text-align: left;
    margin: 0 1rem 0 0;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    width: 100%;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    align-items: center;
    background: #fff;
    font-size: 0.8rem;
}

.button {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    padding: 0 2rem;
    border-radius: 2.5rem;
    border: none;
    background: #209cee;
    color: #fff;
    font-weight: 600;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    // -webkit-transition: background 0.14s ease;
    transition: background 0.14s ease;
    height: 3rem;
    min-height: 3rem;
    // overflow: hidden;
}