@import "./../setup/variables";
@import "../basics/font";


.user-preview {
  font-size: 14px;
    // object-fit: contain;
    cursor: pointer;
    // min-height: 270px;
    // background-color: $primaryClr;
    border-radius: 4px;
    // flex-basis: 210px;
    flex-grow: 1;
    max-width: 210px;
    max-height: 304px;
    font-family: $font-open-sans;
    box-shadow: 0 0 2px #969696;
    margin-bottom: 200px;
    // color: white;
}

.user-preview:hover {
    box-shadow: 0 0 8px #969696;
}
  
p {
    margin: 5px 0;
    font-weight: normal;
}

// .meet-count{
//     position: relative;
//     top: -170px;
//     left: 160px;
//     background: purple;
//     display: inline-block;
//     padding: 10px 14px;
//     border-radius: 50px;
// }

.name {
    font-size: 1.2rem;
    margin-top: 5px;
}

.city {
    float: right;
    margin-top: 3px;
    font-size: 0.8rem;
}
img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    // border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
  
.info-panel {
    padding: 10px;
    text-align: left;
    position: relative;
    /* bottom: 50px; */
    bottom: 22px;
      font-size: 15px;
  
    /* ehud changed */
  
    // color: #333;
    // font-weight: 500;
    // font-weight: 700;
    // font-size: 21px;
  
  
  
}
  
  /* .info-panel .name {
    color: #333;
    font-weight: 500;
    font-weight: 700;
    font-size: 21px;
  } */
  
.expand {
    animation: expand 1s;
}
  
@keyframes expand {
    to {
      /* left: 50%; */
      transform: scale(1.5);
      opacity: 0.5;
    }
}
  
@media (max-width: 670px) {
    .user-preview {
      flex-basis: 45%;
    }
}