
.user-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    // max-width: 1000px;
    // min-height: 790px;
    gap: 40px 18px;
    // padding: 34px 0;
    // margin: 0 auto;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    height: 400px;
    /* background-color: gray; */
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: unset;
    // align-content: baseline;
}